body{
    display: flex;
    flex-flow: column wrap;
}

.header{
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    color: white;
    height: 70px;
    width: auto;
}

.links{
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    color: white;
    gap: 20px;
}
 a{
    color: azure;
    font-size: 20px;
    text-decoration: none;
 }

 .titleContainer{
    display: flex;
    flex-flow: row;
    align-items: space-evenly;
    
    background-color: #1F2937;
    padding-left: 310px;
    padding-right: 0px;
    color: white;
    padding-bottom: 140px;
    margin-right: 0px;
    
}

.sectionTwo{
    margin-bottom: 125px;
    
}

.sectionThree{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    
    padding: 2em 2em;
    justify-content: space-between;

}

.titleContainerThree{

    display: flex;
    margin: 0em 6em;
    width: 35em;
    justify-content: center;
    
}

.quote{
    margin-left: 30em;
    font-weight: 900;
}



 .title{
    font-size: 45px;
    text-wrap: wrap;    
    width: 400px;
    height: 50px;
    margin-top: 8%;
    margin-right: 300px;
 }
.titleTwo{
    display: flex;
    justify-content: center;
    margin: 35px 20px;
    font-size: 36px;
    font-weight: bolder;
}

 .lorem{
    font-size: 21px;
    width: 400px;  
 }

 .image{
    display: flex;
    height: 450px;
    width: 550px;
    padding-top: 40px;
    margin-top: 4%;
 }

 .sectionOne{
    display: flex;
    flex-direction: column;
    align-items: end;
 }

 .btn{
    background-color: #3882F6;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 24px;
    
 }

 .squareContainer{
    display: flex;
    justify-content: center;
    gap: 25px;
    
 }

.squaredraw{
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 170px;
    padding: 10px;
    border: 0;
    border-top: 5px solid #3882F6;
    border-left: 5px solid #3882F6;
    border-bottom: 5px solid #3882F6;
    border-right: 5px solid #3882F6;
    border-radius: 10%;
    
}

.sectionTwoPOne{
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 195px;
}
.sectionTwoPTwo{
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 195px;
}

.sectionTwoPThree{
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 195px;
}

.sectionTwoPFour{
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 195px;
}

footer{
    display: flex;
}